/* General */
body {
    margin: 0;
    line-height: 1.5em;
    color: #333333;
    font-family: helvetica, arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: 1em;
}

a:link, a:visited {
    color: #0000e0;
    text-decoration: none
}

a:hover, a:active {
    color: #0000ff;
    text-decoration: underline
}


/* Single column layout */
nav section, header section, main, footer section {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5em;
}


/* Navigation panel */
nav {
    background: #333333;
    border-bottom: thin solid #111111;
    line-height: 3em;
}

nav a {
    margin-right: 1em;
}

nav a:link, nav a:visited {
    color: #cccccc;
}

nav a:hover, nav a:active {
    color: #ffffff;
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    nav .links {
        float: right;
    }
}


/* Footer */
footer {
    background: #f0f0f0;
    border-top: thin solid #e0e0e0;
    margin-top: 2em;
    padding: 1em 0;
    box-shadow: 0 100vh 0 100vh #f0f0f0;
    text-align: center;
}

footer section p {
    font-size: 0.8em;
}

footer a {
    margin-right: 1em;
}

footer a:last-child {
    margin-right: 0;
}


/* Posts */
article {
    margin-top: 1em;
    margin-bottom: 1em;
}

article h2 a:link, article h2 a:visited,
article h1 a:link, article h1 a:visited,
.more:link, .more:visited {
    color: #333333;
}

article h2 a:hover, article h2 a:active,
article h1 a:hover, article h1 a:active,
.more:hover, .more:active {
    color: #777777;
}

p.meta {
    margin-top: 0;
    font-size: 0.8em;
    color: #777777;
    font-style: italic;
}

p.summary {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

div .more {
    margin-top: 0;
    font-weight: bold;
}


/* RSS */
.rss {
    padding: 0.3em 0.35em;
    border-radius: 0.25em;
    font-size: 0.75em;
    font-weight: bold;
}

.rss:link, .rss:visited, .rss:hover, .rss:active {
    color: #ffffff;
    text-decoration: none;
}

.rss:link, .rss:visited {
    background: #ff6600;
}

.rss:hover, .rss:active {
    background: #ff8822;
}

code {
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
}


/* Tags */
.tags {
    margin: 0.5em 0 1em 0;
}

.tag {
    display: inline-block;
    padding: 0.2em 0.6em;
    margin: 0.2em 0.3em 0.2em 0;
    border-radius: 0.25em;
    font-size: 0.85em;
    background: #e8e8e8;
    color: #555555;
    text-decoration: none;
    transition: background 0.2s, color 0.2s;
}

.tag:link, .tag:visited {
    color: #555555;
    text-decoration: none;
}

.tag:hover, .tag:active {
    background: #333333;
    color: #ffffff;
    text-decoration: none;
}

.tag-active {
    background: #333333;
    color: #ffffff;
}

.tag-active:link, .tag-active:visited {
    color: #ffffff;
}


/* Blog layout with sidebar */
.blog-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.blog-main {
    flex: 1;
    min-width: 0;
}

.blog-sidebar {
    width: 200px;
    flex-shrink: 0;
}

.blog-sidebar h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #333333;
}

.sidebar-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
}

.sidebar-tags .tag {
    margin: 0;
}

.back-link {
    font-size: 0.9em;
}

.tag-description {
    margin-bottom: 1.5em;
}

@media screen and (max-width: 700px) {
    .blog-layout {
        flex-direction: column;
    }

    .blog-sidebar {
        width: 100%;
        order: -1;
        padding-bottom: 1em;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 1em;
    }
}
